body {

    background-color: rgb(100,100,100);
    /*https://stackoverflow.com/a/17408949/5023561*/
    /*    transform: scale(0.8);
        transform-origin: 50% 0%;*/

}

#headerimg {

    position:absolute;
    height: 40px;
    top: -11px;
    left: 5px;
    opacity: 0.5;

}


/*centre whole page*/
div.wholepage {
    /*max-width: 1300px;*/
    /*min-width: 1300px;*/
    width: 1350px;
    margin: auto;
    /*position: absolute;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*float: left;*/
    /*background: white;*/
    background-color: rgb(150,150,150);
    padding: 25px;    
}

div.mapdiv {
    position: relative;
    padding-left: 30px;
}


div.story {

    position:absolute;
    left:10px;
    top:640px;
    /*background-color: rgb(130,130,130);*/
    width: 590px;

}

/*initial size bigger*/
span.welcome {
    font-size: 20px;
}

div.credits {
    text-align: center; 
    text-align-last: center;
    opacity: 0.5;
}

/*stop svg text from being selectable
https://jsfiddle.net/adeneo/72LvL8n6/*/
.svgtxt{
    -webkit-touch-callout: none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    -o-user-select:none;
    user-select:none;
}


/*menu hover*/
/*http://jsfiddle.net/sW7Dh/4/*/
.dropdown-item {
    background-color: white;
    color: black;
}

.dropdown-item:hover {
    background-color: ForestGreen;
    color: white;
    background-image: none;
}


.arrow_deactivated {
    fill:DimGrey;
}

.arrow {
    fill: rgb(20,150,20);
}

.arrow:hover {
    fill: rgb(50,200,50);
    /*fill: #DA4567;*/
}

.arrow:active{
    fill: rgb(150,250,150);
    /*fill: #DA4567;*/
}


/*circle#marker_top {
    fill: blue;
}

circle#marker_bottom {
    fill: green;
}*/


/*starting with topmap button selected*/
/*button#topbutton {
    background: blue;
}*/

/*button.buttonselectedtop {
    background: blue;
    color: white;
}
button.buttonselectedbottom {
    background: green;
    color: white;
}*/

/*https://codepen.io/Mukudori/pen/oLQYxL*/
button.absolute {
    position: absolute;
    background: white;
    color: black;
}

button.absolute.buttonselected {
    background: green;
    color: white;
}



/*
.hexbuttondiv {
    position: absolute;
    left: 40px;
    top: 40px;
    background-color: black;
}*/


button#yearbutton{    
    left: 0px;
    top: 40px;
}

button#decilerank{    
    left: 0px;
    top: 80px;
}

button#hexmap_mean{    
    left: 0px;
    top: 140px;
}

button#hexmap_median{    
    left: 0px;
    top: 175px;
}

button#hexmap_decile1prop{    
    left: 0px;
    top: 210px;
}

button#hexmap_decile10prop{    
    left: 0px;
    top: 245px;
}



button#hexmap_lowest{    
    left: 0px;
    top: 280px;
}
button#hexmap_highest{    
    left: 0px;
    top: 315px;
}

button#difftoggle{    
    left: 0px;
    top: 370px;
}






.absoluteup{
    position:absolute;
    left:0px;
    top: 800px;

}


.visible {
    visibility: visible;
}

.invisible {
    visibility: hidden;
}


/*https://css-tricks.com/multiple-class-id-selectors/*/
/*Difference between avg. line-chart and avg.line-chart*/
svg.line-chart path {
    fill: none;
    stroke: #555;
    stroke-width: 2; 
}

svg.map path {
    fill: none;
    stroke: #555;
    stroke-width: 0; 
}

g.enghexmap path {
    fill: none;
    stroke: rgb(0,0,0);
    stroke-width: 1; 
}
g.overlayhexmap path {
    fill: none;
    stroke: rgb(0,0,0);
    stroke-width: 3; 
}


/*Mainly just to see where it is for now*/
svg.map {
    /*border-style: solid*/
}

rect#sidebarrect {
    fill: rgb(50,50,50);
    /*fill: rgb(100,100,100);*/
    /*fill: rgb(255,255,255);*/
    stroke: rgb(0,0,0);
    stroke-width: 1px
}

rect#legend {
    fill: rgb(50,50,50);
    /*fill: rgb(100,100,100);*/
    /*fill: rgb(255,255,255);*/
    stroke: rgb(0,0,0);
    stroke-width: 1px
}


.sidebartext {
    /*mix-blend-mode: difference;*/
}

.graphpath {
    fill: none;
    stroke: #555;
    stroke-width: 2; 
}

div#buttongroup1 {
    padding: 20px    
}

div#sliderdiv {
    /*padding: 15px;*/
    margin-left: 30px;
    margin-top: 10px;
    /*float: left*/
}


/*https://www.w3schools.com/css/css3_buttons.asp*/
button {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
    border-radius: 12px;
    -webkit-transition-duration: 0.4s;  
    transition-duration: 0.4s;
    /*float: left*/
}



button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}


